<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Day1">
    <classes>
      <class name="com.Annotations.TestNG_SinglTest_DependsOnMethods"/>
      <class name="com.TestNG.Day4"/>
      <class name="com.Annotations.ExpectedExceptions"/>
      <class name="com.Annotations.TestNG_MultipleTest_DependenciesOnMethod"/>
      <class name="com.TestNG_Rahulsharma.Day1"/>
      <class name="com.Annotations.InvocationCount_Test"/>
      <class name="com.Annotations.TestNG_DependentOnMethods_Login"/>
      <class name="com.Annotations.GoogleTest"/>
      <class name="com.Annotations.TestNG_PrioritiesTest"/>
      <class name="com.TestNG.Day3"/>
    </classes>
  </test> <!-- Day1 -->
</suite> <!-- Suite -->
